.page-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        .title {
            flex: 1;
        }
        .btns {
            flex: 1;
        }
    }
    section {

    }
}